.Intro {
 
  color: black;
  width: 100%;
  text-align: center;
  margin-left:0%;
}

.Exercize {
font-family: arial;
 text-align: center;
  border: 3px solid #28721B ;
  
  color: black;
  width: 100%;
  text-align: center;
  margin-left:0%;
}

/* The below code is for the "Return to Menu" link */
.returnToMenu a {
  color:#AE06F7;
  font-size:33px;
}